<h2> edit Cert </h2> </br>

<%= simple_form_for @cert do |f| %>
  <%= f.input :name, label: 'Name:', input_html: {class: "form-text"} %>
  <%= f.input :description, label: 'Description:', input_html: {class: "form-text"} %>
  <%= f.button :submit, "Save", class: "btn btn-warning" %>
<% end %>