<div class="col-lg-6 order-lg-1">
  <div class="p-5">
    <h2 class="display-4">Про наш проект</h2>
    <p>Тут купа тексту з описанням нашого проекту та контактами....., так багато, що лінь усе читати!</p>
  </div>
</div>